.footer {
  background-image: url(../image/Fondo/footer.png);
  background-size: cover;

  .container {
    max-width: 1440px;
    padding: 50px 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;

    div {
      text-align: center;
    }

    .footer__logo {
      img {
        width: 130px;
        margin-left: 1em;
      }
    }

    .footer__registro {
      .footer_form {
        margin-right: 0.3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        input {
          background-color: map-get($colores , primario);
          background: transparent;
          color: map-get($colores , secundario);
          font-size: 20px;
          text-align: center;
          height: 30px;
          border: 2px solid black;
        }

      }

      button {

        width: 70%;
        background-color: map-get($colores , terciario);
        border-color: map-get($colores , secundario);
        border-right: 3.7px solid map-get($colores , secundario);
        border-bottom: 3.2px solid map-get($colores , secundario);
        color: map-get($colores , secundario);
        border-radius: 6px;
        padding: 5px;
      }
    }
  }

  @media (max-width:870px) {
    .container {
      max-width: 80%;
      display: block;

      .footer__registro {
        justify-content: center;

        display: block;

        .footer_form {
          display: flex;
          align-items: center;
        }



      }
    }
  }



  @media (max-width:680px) {
    padding: 50px;

    .container {
      max-width: 350px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      .footer__registro {
        .footer_form {
          display: flex;
          align-items: center;
        }
      }

      div {
        text-align: center;
      }


      .footer__logo {
        img {
          width: 100px;
        }
      }

      .footer__registro {
        .footer_form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 5px;

          input {
            background-color: map-get($colores , terciario);
            color: map-get($colores , secundario);
            border: 2px solid black;
          }
        }

        button {
          width: 60%;
          background-color: map-get($colores , terciario);
          border-color: map-get($colores , secundario);
          border-right: 3.7px solid map-get($colores , secundario);
          border-bottom: 3.2px solid map-get($colores , secundario);
          color: map-get($colores , secundario);
          border-radius: 6px;
          padding: 5px;
        }
      }
    }
  }
}