.header {
    background-color: map-get($colores , primario);
    z-index: 2;
    width: 100%;




    .container {
        max-width: 1920px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: map-get($colores , primario);
        padding: 0.4em 3em;

        .logo {
            display: flex;
            align-content: center;
            align-items: center;
        }

        h1 {
            img {
                width: 70px;
            }
        }

        .bx {
            font-size: 60px;
            color: map-get($colores , secundario);
            display: none;

        }

        #btn-menu {
            display: none;
        }

        .nav {
            .nav_list {
                display: flex;
                gap: 25px;

                .nav_link {
                    a {
                        color: map-get($colores , text-color);
                    }
                }
            }
        }

    }






    @media (max-width:650px) {
        .container {
            display: flex;
            justify-content: space-between;
            max-width: 650px;

            .bx {
                display: flex;
                font-size: 40px;
            }

            #btn-menu {
                display: none;

                &:checked~.nav {
                    top: -350px;
                }
            }


            .nav {
                position: absolute;
                top: 70px;
                z-index: 1;
                right: 0;
                transition: all 0.9s ease;
                background-color: map-get($colores , primario);

                .nav_list {
                    flex-direction: column;
                    width: 150px;
                    padding: 25px;
                }
            }
        }
    }
}