// fuentes 

$font-primary: "Inter Tight", sans-serif;


// colores 

$color-primario : #F9DBBD;
$color-secundario: #450920;
$color-terciario: #f6e3d1;
$color-alternative: #cdb69f;
$text-color: #64635c;