// fuentes 

$font-primary: "Inter Tight", sans-serif;


// colores 

$color-primario : #F9DBBD;
$color-secundario: #450920;
$color-terciario: #766a6f ;
$color-alternative: #f6e3d1;
$text-color:#64635c; 




